*{
    margin: 0;
    padding: 0;
}
#header{
    width: 100vw;
    height: auto;
    background-color: green;
    color: white;
}
.container {
    width: 1140px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    width: 30%;
    float: left;
    font-size: 45px;
}

.mainmenuDivition {
    width: 70%;
}

ul.mainmenu {
    vertical-align: middle;
    list-style: none;
    height: auto;
    float: right;
    margin-top: 20px;
    font-family: arial;
}

ul.mainmenu li {
    float: left;
    margin-right: 45px;
    position: relative;
}

ul.mainmenu li span {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul.mainmenu li a {
    color: white;
    font-size: 30px;
}

ul.dropdownManu {
    width: 110px;
    background: grey;
    position: absolute;
    top: 58px;
    list-style: none;
    padding: 15px 30px;
    left: -33px;
    border-bottom: 5px solid green;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
}
.show{
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
}
ul.dropdownManu li {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px 0px;
}

ul.dropdownManu li a {
    font-size: 18px;
}


ul.dropdownManu2 {
    width: 110px;
    background: grey;
    position: absolute;
    top: 58px;
    list-style: none;
    padding: 15px 30px;
    left: -22px;
    border-bottom: 5px solid green;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}

ul.dropdownManu2 li {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px 0px;
}

ul.dropdownManu2 li a {
    font-size: 18px;
}



ul.dropdownManu3 {
    width: 110px;
    background: grey;
    position: absolute;
    top: 58px;
    list-style: none;
    padding: 15px 30px;
    left: -18px;
    border-bottom: 5px solid green;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}

ul.dropdownManu3 li {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px 0px;
}

ul.dropdownManu3 li a {
    font-size: 18px;
}



/* submenu style */

ul.submenu {
    width: 110px;
    background: grey;
    position: absolute;
    top: -14px;
    list-style: none;
    padding: 15px 30px;
    left: 140px;
    border-bottom: 5px solid green;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
}
ul.submenu3 {
    width: 110px;
    background: grey;
    position: absolute;
    top: -14px;
    list-style: none;
    padding: 15px 30px;
    left: 140px;
    border-bottom: 5px solid green;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: top;
}
.menuBar{
    display: none;
}